
@section MoreScripts {
    <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#JSDummyTable').DataTable({ //Pls Change Name Here
                ordering: true,
                paging: true,
                searching: true,
                info: true,
                lengthChange: true,
                pageLength: 10
            });
        });
    </script>
}

@model @*Enter Model Name*@
<h2>@*Enter Title*@</h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MsgType"]">
        @TempData["Message"]
    </div>
}

<div>
    <table id="JSDummyTable" class="table"> @*Change Table Name*@
        <thead>
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Date/Time</th>
                <th>Duration</th>
                <th>Price</th>
                <th>Chamber</th>
                @if (User.IsInRole("manager"))
                {
                    <th>Action</th>
                }
            </tr>
        </thead>

        <tbody>
            @foreach (DataRow row in Model)
            {
                <tr>
                    <td>@row["Title"]</td>
                    <td>@row["Artist"]</td>
                    <td>@String.Format("{0:yyyy-MM-dd HH:mm}", row["PerformDT"])</td>
                    <td>@row["Duration"] hrs</td>
                    <td>@String.Format("{0:c}", row["Price"])</td>
                    <td>@row["Chamber"]</td>
                    @if (User.IsInRole("manager"))
                    {
                        <td>
                            <a asp-controller=""
                               asp-action="Update"
                               asp-route-id="">
                                @*Change Controller and ID Name*@
                                Update
                            </a> |
                            <a asp-controller=""
                               asp-action="Delete"
                               asp-route-id="@row["Pid"]"
                               onclick="return confirm('Delete Performance <@row["Title"]>')">
                                @*Change Controller and ID Name*@
                                Delete
                            </a>
                        </td>
                    }
                </tr>
            }
        </tbody>

        <tfoot>
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Date/Time</th>
                <th>Duration</th>
                <th>Price</th>
                <th>Chamber</th>
                @if (User.IsInRole("manager"))
                {
                    <th>Action</th>
                }
            </tr>
        </tfoot>


    </table>
</div>