
@section MoreScripts {
    <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#JSBuildingTable').DataTable({
                ordering: true,
                paging: true,
                searching: true,
                info: true,
                lengthChange: true,
                pageLength: 10
            });
        });
    </script>
}

@model DataRowCollection
<h2>Buildings</h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MsgType"]">
        @TempData["Message"]
    </div>
}

<div>
    <table id="JSBuildingTable" class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Address</th>
                <th>Postal Code</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            @foreach (DataRow row in Model)
            {
                <tr>
                    <td>@row["building_name"]</td>
                    <td>@row["building_type"]</td>
                    <td>@row["building_address"]</td>
                    <td>@row["building_postal_code"]</td>

                    <td>
                        <a asp-controller="Building"
                           asp-action="Update"
                           asp-route-id="@row["building_id"]">
                            Update
                        </a> |
                        <a asp-controller="Building"
                           asp-action="Delete"
                           asp-route-id="@row["building_id"]"
                           onclick="return confirm('Delete Building <@row["building_id"]>')">
                            Delete
                        </a>
                    </td>

                </tr>

            }
        </tbody>

        <tfoot>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Address</th>
                <th>Postal Code</th>
                <th>Action</th>
            </tr>
        </tfoot>


    </table>
</div>