@model DataRowCollection

<div class="row" style="padding-top:10em;">
    <div class="col-sm-3">
        <img src=@string.Format("/customers/{0}", Model[0]["face_picfile"]) class="col-sm-12" />
    </div>
    <div class="col-sm-9">
        <h2 style="color:white">@Model[0]["customer_name"]</h2>
        <h3 style="color:white">@Model[0]["surname"]</h3>
    </div>
</div>

<table class="table table-borderless" style="color:white; border-color:white">
    <tbody>
        <tr>
            <td>
                Email
            </td>
            <td>
                @Model[0]["email"]
            </td>
        </tr>
        <tr>
            <td>
                Membership
            </td>
            <td>
                @Model[0]["membership"]
            </td>
        </tr>
        <tr>
            <td>
                Sign Up Date
            </td>
            <td>
                @String.Format("{0: dd/MM/yyyy HH:ss}", Model[0]["signup_date"].ToString())
            </td>
        </tr>

    </tbody>
</table>



