@model DataRowCollection

@section MoreScripts {
    <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#JSCustomerTable').DataTable({
                ordering: true,
                paging: true,
                searching: true,
                info: true,
                lengthChange: true,
                pageLength: 10
            });
        });
    </script>
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MsgType"]">
        @TempData["Message"]
    </div>
}

<h2>Customers</h2>

<table class="table table-condensed table-hover" id="JSCustomerTable">
    <thead style=" background-color: #2F2FA2; color: white;">
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Membership</th>
            <th>Sign Up Date</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody style=" background-color: #2F2FA2; color: white;">
        @foreach (DataRow row in Model)
        {
            <tr>
                <td>@row["customer_name"]</td>
                <td>@row["surname"]</td>
                <td>@row["email"]</td>
                <td>@row["membership"]</td>
                <td>@String.Format("{0:yyyy-MM-dd}", row["signup_date"])</td>
                <td>
                    <a asp-controller="Customer" asp-action="Update" asp-route-id="@row["customer_id"]">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    |
                    <a asp-controller="Customer"
                       asp-action="Delete"
                       asp-route-id="@row["customer_id"]"
                       onclick="return confirm('Delete User [@row["customer_name"]')"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
