
@section MoreScripts {
    <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#JSDummyTable').DataTable({ //Pls Change Name Here
                ordering: true,
                paging: true,
                searching: true,
                info: true,
                lengthChange: true,
                pageLength: 10
            });
        });
    </script>
}

@model Customer
<h2>Customers</h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MsgType"]">
        @TempData["Message"]
    </div>
}

<div>
    <table id="JSDummyTable" class="table">
        @*Change Table Name*@
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Membership</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            @foreach (Customer cust in Model)
            {
                <tr>
                    <td>@cust.customer_name</td>
                    <td>@cust.surname</td>
                    <td>@cust.email</td>
                    <td>@cust.membership</td>

                    <td>
                        <a asp-controller="Customer"
                           asp-action="Update"
                           asp-route-id="@cust.customer_id">
                            Update
                        </a> |
                        <a asp-controller=""
                           asp-action="Delete"
                           asp-route-id="@cust.customer_id"
                           onclick="return confirm('Delete Customer <@cust.customer_name>')">
                            Delete
                        </a>
                    </td>

                </tr>
            }
        </tbody>

        <tfoot>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Membership</th>
                <th>Action</th>
            </tr>
        </tfoot>


    </table>
</div>