
@section MoreScripts {
    <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#JSUserTable').DataTable({ //Pls Change Name Here
                ordering: true,
                paging: true,
                searching: true,
                info: true,
                lengthChange: true,
                pageLength: 10
            });
        });
    </script>
}

@model List<User>
<h2>View All Users</h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MsgType"]">
        @TempData["Message"]
    </div>
}


<div>

    <table id="JSUserTable" class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Last Login</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            @foreach (User user in Model)
            {
                <tr>
                    <td>@user.full_name</td>
                    <td>@user.email</td>
                    <td>@user.smiley_user_role</td>
                    <td>@user.last_login.ToString()</td>
                    <td>
                        <a asp-controller="Account"
                           asp-action="Update"
                           >
                            Update
                        </a> |
                        <a asp-controller="Account"
                           asp-action="Delete"
                           >
                          
                            Delete
                        </a>
                    </td>

                  
                </tr>
                }
            </tbody>

    </table>

</div>